ul {
  list-style-type: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a:hover:not(.active) {
  background-color: rgb(180, 172, 172);
  color: white;
}

.sidebar-title{
  text-transform: uppercase;
  user-select: none;
}

.menu-content {
  margin-left: 200px;

}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }

  .menu-content {
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.menu-table * {
  font-size: 20px;
}

.card-img-top {
  object-fit: cover;
}